<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<title>RecipientEntitySDS</title></head><body>
<h1>RecipientEntitySDS (COCD_TP145021UK02)</h1>
<p>Date: 2007-10-23 13:28:45</p>
<map name="rmim0">

<area href="COCD_TP145021UK02-NoEdit.htm#AssignedEntitySDS" coords="0, 133, 335, 223" shape="rect"/>

<area href="COCD_TP145021UK02-NoEdit.htm#Person" coords="152, 241, 482, 332" shape="rect"/>

<area href="COCD_TP145021UK02-NoEdit.htm" coords="51, 39, 268, 128" shape="rect"/>
</map>
<img border="0" src="images/COCD_TP145021UK02.png" usemap="#rmim0"/>
</body>
</html>
