<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<title>EntityNonSDSWithOrgSDS</title></head><body>
<h1>EntityNonSDSWithOrgSDS (COCD_TP145005UK03)</h1>
<p>Date: 2007-10-23 12:10:42</p>
<map name="rmim0">

<area href="COCD_TP145005UK03-NoEdit.htm#Person" coords="671, 232, 997, 304" shape="rect"/>

<area href="COCD_TP145005UK03-NoEdit.htm#OrganizationSDS" coords="0, 218, 288, 321" shape="rect"/>

<area href="COCD_TP145005UK03-NoEdit.htm#ParticipantRole" coords="331, 98, 672, 199" shape="rect"/>

<area href="COCD_TP145005UK03-NoEdit.htm" coords="354, -3, 621, 93" shape="rect"/>
</map>
<img border="0" src="images/COCD_TP145005UK03.png" usemap="#rmim0"/>
</body>
</html>
