body
{
    font-family: Arial;
}

h1
{
    font-size:larger;
    font-weight:bold;
}

span.pretitle
{
    color: Silver;
}

h2
{
    font-size:large;
    font-style:italic;
    font-weight:bold;
}

table
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-bottom: black 1px solid;
    border-collapse: collapse;
    width: 70%;
    
}

table.version
{
    width: 30%;
}



tbody
{
    font-size: smaller;
}

td
{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 3pt 3pt 3pt 3pt;
}

td.vocabheader
{
    background: silver;
}

thead.vocabheader
{
    background: silver;
}